html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
}

header {
	background-color: #4C6085;
	width: 100%;
	height: 50px;
	display: inline-block;
	position: fixed;
	z-index: 100;
}

main {
	width: 100%;
	display: inline-block;
}

footer {
	display: inline-block;
	background-color: #32322C;
	width: 100%;
	height: 100px;
}

body {
	margin: 0;
}

ul {
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-top: 13px;
	color: #fff;
	transition: 0.3s;
}

header ul:hover {
	color: #111;
	transition: 0.1s;
}

.article_title {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
	text-align: center;
	display: block;
	margin: 0;
	padding-top: 20px;
	color: white;
	padding-bottom: 20px;
}

.article1 {
	height: 600px;
	width: 80%;
	display: inline-block;
	background-image: url(images/dehradun.jpg);
	text-align: center;
	margin-left: 10%;
	margin-top: 50px;
}

.article2 {
	height: 440px;
	width: 80%;
	display: block;
	background-image: url(images/teach.jpg);
	margin-left: 10%;
}

.timestamp {
	width: 8%;
	height: 50px;
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 35%;
}

.timestamp h1 {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 24px;
	margin-bottom: 100px;
}

.contextBox {
	width: 22%;
	height: 50px;
	display: inline;
	position: relative;
	float: right;
	margin-bottom: 30px;
	margin-right: 30%;
}

.contextBox h1 {
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-bottom: 5px;
}

.contextBox p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.article3 {
	height: 640px;
	width: 80%;
	display: block;
	background-image: url(images/xining.jpg);
	margin-left: 10%;
}

.article4 {
	height: 440px;
	width: 80%;
	display: block;
	background-image: url(images/thuas.jpg);
	margin-left: 10%;
}

main  p {
	margin: 0;
}

.about_left{
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
	float: left;
}

.about_left img {
	text-align: center;
}

.about_right{
	width: 50%;
	height: 100%;
	display: inline-block;
	text-align: center;
}

.about_right p {
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	font-weight: ;
	text-align: left;
	margin-top: 150px;
	color: white;
	margin-right: 10%;
}

.avatar {
	width: 362px;
	height: 243px;
	transform: rotate(90deg);
	margin-top: 170px;
	transition: 0.3s;
	z-index: 1;
}

.avatar:hover {
	width: 371px;
	height: 249px;
	margin-top: 167px;
	transform: rotate(90deg);
	transition: 0.3s;
	z-index: 1;

}